
body {
    padding: 10px;
}
.layui-btn {
    margin: 10px 0;
}
.table_wrapper {
    width: 100%;
    min-height: 400px;
    border: 1px solid #3071a9;
}
.layui-table {
    margin: 0;
}
#pagination {
    text-align: right;
}